{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: theme_config.default_lang)|e }}">
    <head>
        {% block head %}
            <!-- Meta -->
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta name="robots" content="noindex, nofollow" />
            <meta name="mobile-web-app-capable" content="yes" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="author" content="AUTHOR" />
            <meta name="description" content="DESCRIPTION" />
            <meta name="keywords" content="KEYWORD, KEYWORD" />

            <!-- Title -->
            <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

            <!-- Canonical Tag -->
            <link rel="canonical" href="{{ page.url(true, true)|e }}" />

            <!-- Icons -->
            <link rel="shortcut icon" type="image/x-icon" href="{{ url('theme://images/favicon.ico')|e }}" />
            <link rel="apple-touch-icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />

            <!-- Print -->
            <link rel="stylesheet" href="{{ theme_url }}/css/print.css" media="print" />

            <!-- Styles-Reference -->
            {% block stylesheets %}
                {% do assets.addCss('theme://css/reset.css', 100) %}
                {% do assets.addCss('theme://css/skeleton.css', 99) %}
                {% do assets.addCss('theme://css/style.css', 98) %}
            {% endblock %}

            <!-- Scripts-Reference -->
            {% block javascripts %}
                {% do assets.addJs('theme://js/jquery.min.js', 100) %}
            {% endblock %}

            {% block assets deferred %}
                <!-- Styles -->
                {{ assets.css()|raw }}

                <!-- Jquery -->
                {{ assets.js()|raw }}
            {% endblock %}
        {% endblock head %}
    </head>

    <body class="{{ page.header.body_classes|e }}">
        <div class="wrapper">
            <header>
                {% block header %}
                    {% include 'partials/header.html.twig' %}
                {% endblock %}
            </header>

            <nav>
                {% block nav %}
                    {% include 'partials/nav.html.twig' %}
                {% endblock %}
            </nav>

            <main>
                <section>
                    {% block body %}
                        {% block content %}
                            {{ page.content|raw }}
                        {% endblock content %}
                    {% endblock body %}
                </section>
            </main>

            <aside>
                {% block aside %}
                    {% include 'partials/aside.html.twig' %}
                {% endblock %}
            </aside>

            <footer>
                {% block footer %}
                    {% include 'partials/footer.html.twig' %}
                {% endblock %}
            </footer>
        </div>

        <!-- Scripts -->
        <script src="./js/script.js"></script>
    </body>
</html>














