<%- include("./partials/head.ejs"); %> <%- include("./partials/header.ejs"); %> <%- include("./partials/nav.ejs"); %>

<main>
  <section>
    <h1><%= txt_title %></h1>
    <p>In this Node.js tutorial series you'll learn node from the ground up - what it is, how to use it and how to make dynamic websites powered by it.</p>
    <p>You'll learn about requests & responses, npm, Express apps, view engines (ejs), middleware, json, mysql, mongodb, MVC & much more.</p>
  </section>
</main>

<%- include("./partials/aside.ejs"); %> <%- include("./partials/footer.ejs"); %>
